@import "tailwindcss";

:root {
  --background: linear-gradient(270deg, #080808 0%, #1e120e 72.09%, #2d1910 100%);
  
}

@theme inline {
  --font-sans: var(--font-gilroy);
  --color-main-bg: #120d0a;
  --color-main-input: #52362b;
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-40: rgba(255, 255, 255, 0.4);
}

body {
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}

.container {
  @apply  w-264 mx-auto;
}
